@use "theme/web/custom-variables.scss" as module0;
@use "themesource/anychart_buildingblocks/web/main.scss" as module1;
@use "themesource/nanoflowcommons/web/main.scss" as module2;
@use "themesource/webactions/web/main.scss" as module3;
@use "themesource/atlas_core/web/main.scss" as module4;
@use "themesource/atlas_web_content/web/main.scss" as module5;
@use "themesource/datawidgets/web/main.scss" as module6;
@use "themesource/myfirstmodule/web/main.scss" as module7;
@use "themesource/anonymous/web/main.scss" as module8;
@use "theme/web/main.scss" as module9;