.custom-register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px !important;
  height: 100%;
}

.custom-register-form {
  width: 500px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5%;
}
