.mx-image-viewer {
  width: 50px !important;
}

.selected-product {
  background-color: rgb(197, 236, 223);
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.product-image {
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup-product {
  position: fixed; 
  z-index: 10000;
  background-color: white;
  padding: 5%;
  border-radius: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

